.title__container {
  text-align: left;
  padding-top: 20px;
  border-bottom: black;
}
.title {
  font-size: 36px;
  font-weight: bold;
}
.table {
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}
th {
  color: white;
  background-color: #4caf50;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.search__container {
  width: 200px;
}
.table__btn {
  float: right;
}
.del {
  margin-right: 5px;
}

.filter__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.create__worker {
  text-decoration: none;
}
.table__flex {
  display: flex;
  flex-direction: column;
}
.table__fl {
  display: flex;
  flex-direction: column;
  align-items: center;
}
