.input {
  padding: 10px 20px;
  border: none;
  /* background-color: #e9e9ff; */
  box-shadow: inset 0.3125rem 0.3125rem 0.625rem 0rem rgba(0, 0, 0, 0.2);
  font-size: 1.25rem;
}

input:focus {
  outline: none;
}
.input__container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.label {
  margin-left: 10px;
  margin-bottom: 10px;
}
